<div id="map-container">
  <div id="map-background"></div>
  <div id="map"></div>
</div>

<h1>{{ title }}</h1>

<h2>API endpoints</h2>

<ul class="endpoints-list">
{% for name in endpoints %}
  <li>
    <a href="/{{ name }}">{{ name }}</a>
    <a href="javascript:void(0)" class="map-link" data-map-category="{{ name }}">map</a>
  </li>
{% endfor %}
</ul>

 {% if examples.size > 0 %}
<h2>Examples</h2>

<ul>
{% for ex in examples %}
  <li><a href="{{ ex.link }}">{{ ex.name }}</a> {{ ex.description }}</li>
{% endfor %}
</ul>
{% endif %}
